.main-content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    // grid-template-rows: 10% 60% 30%;
    column-gap: 5px;
    row-gap: 5px;
    background-color: gray;
    grid-template-areas:
    "header header header header header header header header header header header header"
    "body body body body body body body body body body body body"
    "footer footer footer footer footer footer footer footer footer footer footer footer";
}

    .body {
        display: grid;
        grid-area: body;
        grid-template-columns: 3fr 6fr 3fr;
        grid-template-rows: 1fr 4fr;
        grid-template-areas:
        "herofeature toaction AD"
        "feature listing sidebar";
        background-color: gray;
        column-gap: 5px;
        row-gap: 5px;
        border-radius: 10px;
        height: 500px;

        &-herofeature {
            display: grid;
            grid-area: herofeature;
            border-radius: 10px;
            background-color: rgb(74, 95, 38);
        }

        &-toaction {
            display: grid;
            grid-area: toaction;
            border-radius: 10px;
            background-color: rgb(74, 95, 38);
        }

        &-AD {
            display: grid;
            grid-area: AD;
            border-radius: 10px;
            background-color: rgb(74, 95, 38);
        }

        &-feature {
            display: grid;
            grid-area: feature;
            border-radius: 10px;
            background-color: rgb(74, 95, 38);          
        }

        &-listing {
            display: grid;
            grid-area: listing;
            border-radius: 10px;
            background-color: rgb(74, 95, 38);
        }

        &-sidebar {
            display: grid;
            grid-area: sidebar;
            border-radius: 10px;
            background-color: rgb(74, 95, 38);
        }
    }