    .footer {
        display: grid;
        grid-area: footer;
        grid-template-columns: repeat(12, 1fr);
        // height: 40px;
        background-color: gray;
        column-gap: 5px;
        row-gap: 5px;
        grid-template-areas:
        // "logo logo buttons buttons buttons buttons buttons buttons buttons tools tools tools"
        // "body body body body body body body body body body body body"
        "footer footer footer footer footer footer footer footer footer footer footer footer";
    
            &-item {
                display: grid;
                grid-area: footer;
                // grid-template-columns: auto;
                border-radius: 10px;
                background-color: rgb(74, 95, 38);
                
                // align-items: center;
                // justify-content: center;
            }
    }